:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-primary-text-color: #2196f3;
  --accent-secondary-text-color: #188ce8;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0, 6);
  --primary-black-color: #000000;
  --primary-bc-color: #f5f4fa;
  --secondary-bc-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Page header */

/* Logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-primary-text-color);
}
.header-logo {
  color: var(--primary-black-color);
}

/* Header-nav */

.header-list {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header-link {
  color: var(--title-text-color);
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--accent-primary-text-color);
}
.header-link.link.current {
  color: var(--accent-primary-text-color);
}

/* Heder-Contacts */

.header-contacts {
  color: var(--primary-text-color);
}

/* Main contents */

/* Hero */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--secondary-bc-color); /* добавил для видимости заголовка - после удалить */
  color: var(--primary-white-color);
}

.bt-hero {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-primary-text-color);
  color: var(--primary-white-color);
}
.bt-hero:hover,
.bt-hero:focus {
  background-color: var(--accent-secondary-text-color);
}

/* Section */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: var(--title-text-color);
}

/* Features */

.features .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: var(--title-text-color);
}

/* Team */

.team-section {
  background-color: var(--primary-bc-color);
}
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--title-text-color);
}
.team .text {
  font-size: 16px;
  line-height: 19px;
}

/* Portfolio */

/* Список - Filter*/

.bt {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--primary-bc-color);
  color: var(--title-text-color);
}

.bt:hover,
.bt:focus {
  background-color: var(--accent-primary-text-color);
  color: var(--primary-white-color);
}

/* Список Works */

.works .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--title-text-color);
}
.works .text {
  font-size: 16px;
  line-height: 30px;
}

/* Page footer */

.footer-page {
  background-color: var(--secondary-bc-color);
}
/* Footer logo */
.footer-logo {
  color: var(--primary-white-color);
}
.footer-address {
  font-style: normal;
  line-height: 1.71;
}

.footer-link {
  color: var(--primary-white-color);
}
.footer-contacts {
  color: var(--secondary-white-color);
}
.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-primary-text-color);
}
